:root{
    --main-color:  #BF608C;
}


  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--main-color);
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .form__field:focus {
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
  .form__field::-webkit-outer-spin-button,
  .form__field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.navbar-toggler:focus {
    border: transparent;
}

.nav-item a {
    color: #000;
}

.nav-item a.active {
    color: var(--main-color);
    text-decoration: underline;
}
.notification{
    background-color: var(--main-color);
}

.color {
    color: var(--main-color);
}

.number {
	display: inline-block;
	position: relative;
	width: 100px;
}
.number input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
    border: none;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
.number-minus {
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
}
.number-plus {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	width: 20px;
	padding: 0;
	display: block;
	text-align: center;
	border: none;
	font-size: 16px;
	font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
}

.btn-outline-color {
    border-color: var(--main-color);
}

.btn-outline-color:hover {
    background-color: var(--main-color);
    color: white;
}

.nav-item a:hover {
    color: var(--main-color);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-group {
    margin-left: 60px;
    margin-right: 60px;
}

.card-group .card {
    max-width: 280px;
}

.page-link {
    color: var(--main-color);
}

.active>.page-link {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: #ffffff;
}

.star {
    color: #FFD11A;
}

.card-img-top {
    height: 250px;
}

.category-link {
    text-decoration: none;
}

.flowers-card,
.flowers img,
.category-link .bd-placeholder-img,
.category-link .category-title,
.nav-item a {
    transition: .3s;
}

.flowers-card{
    min-height: 360px;
}
.flowers-card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.flowers:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.category-link:hover .bd-placeholder-img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


.category-link:hover .category-title {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.category-block {
    background-color: #1f2529;
    opacity: 0.7;
    color: #ffffff;
    padding: 20px;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.slide-room img {
    max-height: 18rem;
}

.carousel-control-item {
    font-size: 40px;
}

.carousel-control-item:hover {
    color: var(--main-color);
}

.carousel-indicators .active {
    background-color: var(--main-color);
}

.bg-image {
    position: relative;
}

.bg-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f2529;
    opacity: .7;
}

.bg-image img {
    object-fit: contain;
}

.img-icon {
    width: 40px;
}

.bi-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p a {
    color: gray;
}

p a:hover {
    color: var(--main-color);
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}