  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #BF608C;
    outline: 0;
    background: transparent;
    transition: border-color 0.2s;  
  }
  
  .form__field:focus {   
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
  .form__field::-webkit-outer-spin-button,
  .form__field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.navbar-toggler:focus {
    border: transparent;
}

.nav-item a {
    color: #000;
}

.nav-item a.active {
    color: #BF608C;
    text-decoration: underline;
}

.color {
    color: #BF608C;
}

.btn-outline-color {
    border-color: #BF608C;
}

.btn-outline-color:hover {
    background-color: #BF608C;
    color: white;
}

.nav-item a:hover {
    color: #BF608C;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-group {
    margin-left: 60px;
    margin-right: 60px;
}

.card-group .card {
    max-width: 280px;
}

.page-link {
    color: #BF608C;
}

.active>.page-link {
    background-color: #BF608C;
    border-color: #BF608C;
    color: #ffffff;
}

.star {
    color: #FFD11A;
}

.card-img-top {
    height: 250px;
}

.category-link {
    text-decoration: none;
}

.flowers-card,
.flowers img,
.category-link .bd-placeholder-img,
.category-link .category-title,
.nav-item a {
    transition: .3s;
}


.flowers-card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.flowers:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.category-link:hover .bd-placeholder-img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


.category-link:hover .category-title {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.category-block {
    background-color: #1f2529;
    opacity: 0.7;
    color: #ffffff;
    padding: 20px;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.slide-room img {
    max-height: 18rem;
}

.carousel-control-item {
    font-size: 40px;
}

.carousel-control-item:hover {
    color: #BF608C;
}

.carousel-indicators .active {
    background-color: #BF608C;
}

.bg-image {
    position: relative;
}

.bg-image::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f2529;
    opacity: .7;
}

.bg-image img {
    object-fit: contain;
}

.img-icon {
    width: 40px;
}

.bi-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p a {
    color: gray;
}

p a:hover {
    color: #BF608C;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}