@page "/account/register-confirm"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}


<div class="container">
    <div class="alert alert-success" role="alert">
        Вы успешно зарегестрированы. Для продолжения, проверьте почту для ее подтверждения!
    </div>
</div>

        

