@using BudsFlowers.Areas.Identity.Data
@model Message
@{
    ViewData["Title"] = "Контакты";
}

<div class="container">
    <partial name="../Partials/_StatusMessage" model="@TempData["StatusMessage"]" />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <partial name="../Partials/_MapPartial.cshtml" />
    <hr>
    <div class="card">
        <div class="card-header text-start ">
            Задать вопрос
        </div>
        <form asp-controller="Home" asp-action="SendMessage">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col ">
                        <label class="form-label">Имя<sup class="text-danger ">*</sup></label>
                        <input asp-for="FirstName" type="text" class="form-control" placeholder="Имя" aria-label="Имя">
                    </div>
                    <div class="col ">
                        <label class="form-label">Email<sup class="text-danger ">*</sup></label>
                        <input asp-for="Email" type="email" class="form-control"
                               placeholder="name@gmail.com">
                    </div>
                    <div class="col ">
                        <label class="form-label">Телефон<sup class="text-danger ">*</sup></label>
                        <input asp-for="Phone" type="text" class="form-control"
                               placeholder="+_(__)_______">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Текст сообщения<sup class="text-danger ">*</sup></label>
                    <textarea asp-for="Text" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
            </div>
            <button class="btn btn-outline-color color mt-auto" type="submit">Отправить</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="../Partials/_ValidationScriptsPartial" />
}