@{
    ViewData["Title"] = "Блог";
}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="~/resources/img/flowers_1.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">КРАСИВЫЕ ЦВЕТОЧНЫЕ ПОДАРКИ НА 14 ФЕВРАЛЯ</h5>
                    <p class="card-text">
                        Предлагаем идеи цветочного подарка к самому романтичному празднику в году-
                        Дню всех влюбленных!
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            14.03.2024
                        </small>
                    </p>
                    <a class="btn btn-outline-color color mt-auto" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="~/resources/img/flowers_2.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">КРАСИВЫЕ ЦВЕТОЧНЫЕ ПОДАРКИ НА 14 ФЕВРАЛЯ</h5>
                    <p class="card-text">
                        Предлагаем идеи цветочного подарка к самому романтичному празднику в году-
                        Дню всех влюбленных!
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            14.03.2024
                        </small>
                    </p>
                    <a class="btn btn-outline-color color mt-auto" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="~/resources/img/flowers_3.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">КРАСИВЫЕ ЦВЕТОЧНЫЕ ПОДАРКИ НА 14 ФЕВРАЛЯ</h5>
                    <p class="card-text">
                        Предлагаем идеи цветочного подарка к самому романтичному празднику в году-
                        Дню всех влюбленных!
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            14.03.2024
                        </small>
                    </p>
                    <a class="btn btn-outline-color color mt-auto" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <nav aria-label="...">
        <ul class="pagination pagination-sm  justify-content-center">
            <li class="page-item disabled ">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <partial name="../Partials/_MapPartial.cshtml" />
</div>