@{
    ViewData["Title"] = "Категории";
}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="album bg-dark">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <a href="#" class="category-link">
                        <div class="card shadow-sm text-center justify-content-end ">
                            <img src="~/resources/img/flowers_1.jpeg"
                                 class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                 role="img" focusable="false">
                            <div class="position-absolute w-100 category-block">
                                <h5 class="category-title">Букет из роз</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm text-center justify-content-end ">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="~/resources/img/flowers_1.jpeg"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">Букет из роз</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
