@using BudsFlowers.Areas.Identity.Data
@model List<FlowerCategory>
@{
    ViewData["Title"] = "Категории";
}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="album bg-dark">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <a href="#" class="category-link">
                            <div class="card shadow-sm text-center justify-content-end ">
                                <img src="@item.PreviewPhotoPath"
                                     class="bd-placeholder-img card-img-top position-relative " width="300" height="225"
                                     role="img" focusable="false">
                                <div class="position-absolute w-100 category-block">
                                    <h5 class="category-title">@item.Title</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
