@{
    ViewData["Title"] = "Доставка и оплата";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="row ">
        <div class="col-3">
            <h5>Время</h5>
        </div>
        <div class="col">
            <p>
                Если Вы хотите сделать своим любимым и близким приятный сюрприз - оформите доставку цветов на нашем
                сайте. Курьер быстро доставит цветы и цветочные композиции любого объёма прям до двери квартиры или
                учреждения.
                <br>
                Приём заявок на сайте осуществляется круглосуточно. После оформления в течение рабочего дня в
                максимально краткий срок с Вами свяжется менеджер для уточнения деталей заказа. Доставка по городу
                Гродно осуществляется в рабочее время с 10.00 до 22.00. Стоимость доставки после окончания рабочего
                дня
                оговаривается с клиентом индивидуально.
                <br>
                При отсутствии понравившегося товара в магазине, с вами свяжется менеджер для обсуждения замены. При
                невозможности связаться, заказ отменяется с полным возвратом денег.
                <br>
                Просьба в праздничные дни, в связи с большой загруженностью, оставлять заказ на доставку не менее
                чем за
                2 часа до предполагаемого момента вручения. Доставка может немного смещаться по времени. Взамен мы
                гарантируем, что Ваши близкие получат только качественные и свежие цветы.
                <br>
                Информируем о том, что в 8 марта время доставки увеличивается (в районе 3 часов по Гродно).
            </p>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-3">
            <h5>Стоимость</h5>
        </div>
        <div class="col">
            <p>
                Стоимость доставки - 5 рублей. Доставка цветов в районе города Гродно бесплатная при заказе от 80
                рублей на один адрес, за исключением акционных товаров. Если Вам нужно доставить цветы по разным
                адресам, стоимости доставок не суммируются.8
                <br>
                8 марта - доставка 5 рублей для заказов на любые суммы.
            </p>
        </div>
    </div><hr>
    <div class="row ">
        <div class="col-3">
            <h5>Срок доставки</h5>
        </div>
        <div class="col">
            В случае, если в каталоге на сайте Вы не нашли желаемые цветы или цветочные композиции, то есть
            возможность заказа за 7 дней до предполагаемого момента вручения.
        </div>
    </div><hr>
    <div class="row ">
        <div class="col-3">
            <h5>Возврат товара</h5>
        </div>
        <div class="col">
            <p>
                При необходимости возврата товара, каждый случай рассматривается в индивидуальном порядке в течение
                3-х рабочих дней.
            </p>
        </div>
    </div><hr>
    <div class="row ">
        <div class="col-3">
            <h5>Возврат денег</h5>
        </div>
        <div class="col">
            <p>
                При необходимости возврата денежных средств, каждый случай рассматривается в индивидуальном порядке в
                течение 3-х рабочих дней.
                <br>
                Имеется возможность отмены заказа и возврата товара и/или денег до момента оказания услуги/доставки
                товара в течение 3-х рабочих дней.
                <br>
                «Если товар был оплачен банковской картой через сайт, то возврат осуществляется на карту, с которой
                была произведена оплата. Срок поступления денежных средств на карту — от 1 до 30 дней с момента
                осуществления возврата Продавцом».
            </p>
        </div>
    </div>
</div>