@model IndexViewModel

@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <partial name="../Partials/_StatusMessage" model="@TempData["StatusMessage"]" />
    <section>
        <h3 class="text-center">Популярные</h3>
        <hr>
        <partial name="../Partials/_CarouselPartial" model="@Model.PopularCarousel" />
    </section>
    <section>
        <h3 class="text-center">Новинки</h3>
        <hr>
        <partial name="../Partials/_CarouselPartial" model="@Model.NewCarousel" />
    </section>
    <section>
        <h3 class="text-center">Скидки</h3>
        <hr>
        <partial name="../Partials/_CarouselPartial" model="@Model.SaleCarousel" />
    </section>

    <partial name="../Partials/_MapPartial.cshtml">
</div>
