@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <section>
        <h3 class="text-center">Популярные</h3>
        <hr>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <div class="card-group justify-content-between ">
                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_2.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_3.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">
                    <div class="card-group justify-content-between ">
                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div><div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div><div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">Букет 100 роз</h5>
                                    <div class="d-flex justify-content-center small star mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star"></div>
                                    </div>
                                    105 руб.
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-color color mt-auto" href="#">
                                        В
                                        корзину
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev" style="margin-left: -80px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next" style="margin-right: -80px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <section>
        <h3 class="text-center">Новинки</h3>
        <hr>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 100 роз</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                                105 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Скидка
                        </div>
                        <div class="badge bg-warning  text-white position-absolute"
                             style="top: 2rem; right: 0.5rem">
                            Популярное
                        </div>
                        <img class="card-img-top" src="~/resources/img/flowers_2.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 51 роза</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <span class="text-muted text-decoration-line-through">120 руб.</span>
                                95 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section>
        <h3 class="text-center">Скидки</h3>
        <hr>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="~/resources/img/flowers_1.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 100 роз</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star"></div>
                                </div>
                                105 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Скидка
                        </div>
                        <div class="badge bg-warning  text-white position-absolute"
                             style="top: 2rem; right: 0.5rem">
                            Популярное
                        </div>
                        <img class="card-img-top" src="~/resources/img/flowers_2.jpg" alt="..." />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">Букет 51 роза</h5>
                                <div class="d-flex justify-content-center small star mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <span class="text-muted text-decoration-line-through">120 руб.</span>
                                95 руб.
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-color color mt-auto" href="#">
                                    В
                                    корзину
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <partial name="../Partials/_MapPartial.cshtml">
</div>
