@{
    ViewData["Title"] = "Отзывы";
}
<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>
    <hr>
    <div class="card">
        <div class="card-header text-start ">
            Оставить отзыв
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col ">
                    <label class="form-label">Имя (необязательно)</label>
                    <input type="text" class="form-control" placeholder="Имя" aria-label="Имя">
                </div>
                <div class="col ">
                    <label class="form-label">Email для обратной связи<sup class="text-danger ">*</sup></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@gmail.com">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Текст<sup class="text-danger ">*</sup></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>
        </div>
        <a class="btn btn-outline-color color mt-auto" href="#">Отправить</a>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2 text-center" style="line-height: 100px;">
                <span class="align-middle ">
                    <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
                </span>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Александр</h5>
                    <p class="card-text">
                        Текст<br> <b>Плюсы: </b>такие вот такие <br><b>Минусы: </b> тоже такие вот
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            14.03.2024
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2 text-center" style="line-height: 100px;">
                <span class="align-middle ">
                    <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
                </span>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Владислав</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem adipisci
                        voluptates ipsum illo ad unde, facere laborum deleniti nam, repellat soluta quae accusantium
                        eaque ducimus quidem exercitationem, velit cum rerum?
                    </p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            12.03.2024
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2 text-center" style="line-height: 100px;">
                <span class="align-middle ">
                    <i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i><i class="bi bi-star-fill star"></i>
                </span>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Борис</h5>
                    <p class="card-text">Текст</p>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <i class="bi bi-calendar"></i>
                            12.03.2024
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <nav>
        <ul class="pagination pagination-sm  justify-content-center">
            <li class="page-item disabled ">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <partial name="../Partials/_MapPartial.cshtml" />
</div>