﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="_HeadPartial" />
</head>

<body class="bg-dark">
    <nav class="navbar bg-dark navbar-expand-lg">
        <div class="container">
            <ul class="nav col ">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Delivery">Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Reviews">Отзывы</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#orderNumberSearchModal">
                        Поиск заказа
                    </button>
                </li>
            </ul>
            <hr>
            <ul class="nav">
                <li class="nav-item text-lg-end text-center">
                    <a class="small m-0 " href="https://yandex.by/maps/-/CDu3F02L" target="_blank">
                        г.
                        Гродно, ул. Максима Горького, д.86
                        <i class="bi bi-geo-alt"></i>
                    </a>
                    <a class="small m-0 p-0" href="tel:+375291234567">+375291234567,</a> <a href="tel:+375331234567"
                                                                                            class="small m-0 p-0"> +375331234567</a>
                    <i class="bi bi-telephone"></i>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar bg-dark navbar-expand-lg shadow">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="~/resources/img/logo.png" width="200">
            </a>
            <button id="navbar-toggler" class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Список меню">
                <span id="navbar-toggler-icon" class="bi bi-list-nested"></span>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse col">
                <div class="dropdown col w-50">
                    <input id="searchInput" class="form-control me-2" type="search" data-bs-toggle="dropdown" aria-expanded="false"
                           placeholder="Поиск цветов" aria-label="Поиск цветов" onkeyup="search();">
                    <ul id="searchBox" class="dropdown-menu w-100 d-none" style="z-index: 999999999;">
                    </ul>
                </div>
                <hr>
                <partial name="_LoginPartial">

            </div>
        </div>
    </nav>

    @RenderBody()



    <div class="position-fixed right-0 p-3" style="z-index: 5; right: 0; top: 100px;">
        <div id="successAddFlower" class="bg-success toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
            <div class="toast-header">
                <i class="bi bi-check-square text-success"></i>
                <strong class="mr-auto pl-1">Добавлено в корзину</strong>
            </div>
        </div>
        <div id="errorAddFlower" class="bg-danger toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000">
            <div class="toast-header">
                <i class="bi bi-x-square check-square text-warning"></i>
                <strong class="mr-auto pl-1">Ошибка добавления в карзину</strong>
            </div>
        </div>
    </div>

    <footer class="container bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-2 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="~/resources/img/fav.png" class="img-icon">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 BudsFlowers, Inc</span>
        </div>

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Catalog" asp-action="Index">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Delivery">Доставка и оплата</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="About">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Reviews">Отзывы</a>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#orderNumberSearchModal">
                    Поиск заказа
                </button>
            </li>
        </ul>

        <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-primary " href="#" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -2px;" width="17" height="17"
                         viewBox="0 0 24 24">
                        <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm.25 16.996h-2.134c-1.205 0-1.409-.687-2.401-1.679-.897-.897-1.395-.209-1.374 1.068.006.339-.161.611-.566.611-1.264 0-3.08.178-4.918-1.806-1.883-2.033-3.857-6.111-3.857-6.513 0-.237.196-.344.524-.344h2.17c.574 0 .623.284.783.649.667 1.521 2.265 4.574 2.69 2.87.244-.978.344-3.245-.703-3.44-.594-.11.452-.746 1.968-.746.377 0 .786.041 1.205.137.769.179.771.523.761 1.026-.039 1.903-.269 3.184.233 3.507.479.31 1.739-1.717 2.403-3.281.183-.433.219-.722.734-.722h2.654c1.39 0-.182 1.997-1.383 3.557-.968 1.255-.916 1.28.209 2.324.803.744 1.75 1.76 1.75 2.336.002.272-.21.446-.748.446z" />
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a href="#" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-primary " href="#" target="_blank">
                    <i class="bi bi-telegram"></i>
                </a>
            </li>
        </ul>
    </footer>
    <div class="modal text-dark fade" id="orderNumberSearchModal" tabindex="99999" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:99999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Поиск заказа</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="get" asp-controller="Home" asp-action="OrderInfo">
                    <div class="modal-body">
                        <label class="form-label">Введите номер заказа</label>
                        <input id="orderNumber" name="orderNumber" type="text" class="form-control" placeholder="Номер заказа" aria-label="Номер заказа">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button class="btn btn-outline-color" type="submit"><i class="bi bi-search"></i>Поиск </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .nav-pills .nav-link.active {
            background-color: #BF608C;
        }

        select option {
            color: #BF608C;
        }

    </style>

    <partial name="_ScriptPartial" />
    @RenderSection("Scripts", required: false)
</body>

</html>