@model BasketViewModel
@{
    ViewData["Title"] = "Корзина";
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <i class="bi bi-house"></i>
                    <span class="visually-hidden">Главная</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Корзина
            </li>
        </ol>
    </nav>
    <hr>

    <section id="basketBox" class="h-100">
        <partial name="../Partials/_BasketIndexPartial" model="Model" />
    </section>
</div>

