@page "/account/profile"
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h6>@ViewData["Title"]</h6>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form__field text-start text-secondary" disabled />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form__field text-start text-light" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form__field text-start text-light" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-outline-color text-light">Обновить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
